/* Colors and fonts*/

body {
	background-color: rgb(230, 230, 230, 1.0);
	color: rgb(30, 30, 30, 1.0);
	font-family: Courier;
}

h1{
	color:green;
	font-family: helvetica;
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 40px;
	}

h2{
	color:yellowgreen;
	font-family: courier;
	font-weight: 900;
	letter-spacing: 10px;
	font-size: 24px;
}

p{
	color:darkcyan;
	font-family: courier;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 15px;
}

a{
	text-decoration:none;
	font-family: courier;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 15px;
	color: blue;
}
a:hover{
	color: green;
}
